.main{
    height: 750px;
    width: 514px;
    margin: 0 auto;
    box-shadow: 0 0 3px 1px #cecece;
}
.main h2{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align:center;
}
img{
    width: 130px;
    display: block;
    margin: 0 auto 15px;
}
.main h4{
    border-top: solid 1px #7a7a7a;
    padding: 10px 0 0 10px;
    margin: 10px 50px 10px 55px;
}
.main ul{
    margin-bottom: 20px;
    margin-left: 90px;
}
.main li{
    padding-top: 10px;
    padding-left: 5px;
}
.main p{
    padding-left: 13px;
    margin:0 50px 17px 55px;
}
