body{
    font-family: Arial;
}
.container{
    border: 2px solid #b6a8a3;
    margin: 0 auto;
}    
.carousel{
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel li {
    float: left;
    padding: 15px;
    background: #cde398;
}
.carousel img {
    width: 300px;
    height: 196px;
    border: 2px solid #6c615d; 
}
.prev, .next{
    position: absolute;
    top: 120px;
    width: 30px;
    height: 30px;
    background: #cde398;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #6c615d;
    cursor: pointer;
}
.prev{
    left: 170px;
}
.next{
    right: 170px;
}
span{
    font-size: 24px;
    text-shadow: 0 0 1px #000;
}
.prev:hover, .next:hover{
    border: 2px solid #bfcf73;
    background: white;
}