body{
  background-image: url(../img/bg_.jpg);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
}

.shadowbox{
  -webkit-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.55);
  box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.55);
  border-bottom: 3px solid #031d28;
}

.clearfix:after{
  content: '';
  clear: both;
  display: block;
}

.wrapper{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  background: #edeef0;
}

/* HEADER */
.header{
  height: 175px;
  background: #ffffff;
}

.title_logo{
  float: left;
  padding: 9px 0 0 28px;
  width: 60%;
}

.title_about{
  float: right;
  padding: 11px 33px 0 0;
  line-height: 18px;
  color: #128aa7;
  font-size: 12px;
}

.title_about h2{
  font-weight: bold;
}

.countries_list{
  float: right;
  padding: 33px 28px 0 0;
}

.countries_list li{
  float: left;
  text-align: center;
  padding: 0 4px;
}

.countries_list div{
  font-size: 10px;
  color: #128aa7;
  text-decoration: underline;
}

.countries_list a{
  display: block;
}

.title_photo{
  font-size: 0;
  border-top: 1px  solid #138aa7;
  border-bottom: 1px  solid #138aa7;
}

.shadowbox_menu{
  box-shadow: 0px 1px 4px 0px rgba(85,85,85,1);
  position: relative;
}

.navigation{
  list-style: none;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000000;
  background: rgb(55,55,55); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  padding-left: 57px;
}

.navigation li{
  float: left;
  display: inline-block;
}

.navigation li:first-child{
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  line-height: 28px;
  padding: 0 50px 0 10px;
}


.navigation ul{
  display: none;
  position: absolute;
  overflow: hidden;
  list-style: none;
  padding: 0;
  box-shadow: 0px 6px 18px 2px rgba(0,0,0,0.75);
}

.navigation ul li{
  float: none;
  display: block;
}

.navigation li:hover > ul{
  display: block;
  background: #303030;
  border-top: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(85,85,85,1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(85,85,85,1);
}

.navigation li:hover > a{
  background: #4a4a4a;
}

/* CONTENT */
.content {
  width: 1000px;
  height: 548px;
}

.content h1{
  color: #424c43;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-top: 13px;
}

.content p{
  color: #424c43;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding-top: 5px;
}

.column-1, .column-2, .column-3{
  float: left;
  min-height: 100%;
}

.column-1 {
  width: 208px;
  background: #edeef0;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
}

.column-2 {
  width: 580px;
  background: #ffffff;
}

.column-3 {
  width: 208px;
  background: #edeef0;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
}

/* FOOTER */
.footer{
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 27px;
}
