
 body {
     background-image: url(../img/background.png); 
     font: 14px Tahoma, sans-serif;
 }
 
 a {
 	text-decoration: none;
  }
  
 .page_align {
 	width: 1000px;
 	margin: 0 auto;
 	background: #fff;
 	box-shadow: 0px 5px 10px -1px;
 	-webkit-webkit-box-: 0px 5px 10px -1px;
 	-moz-webkit-box-: 0px 5px 10px -1px;
 	-ms-webkit-box-: 0px 5px 10px -1px;
 	-o-webkit-box-: 0px 5px 10px -1px;
 	webkit-box-: 0px 5px 10px -1px;	
 }
 
 .header {
 	height: 213px;
 	border-bottom: 1px solid #128aa7;  
 }
 
.logo{
  float: left;
  padding: 47px 0 0 28px;
  width: 36%;
}

.title a {
  color: #128aa7; 
}
.title {
  float: right;
  padding: 11px 33px 0 0;
  line-height: 18px;
  color: #128aa7;
  font-size: 12px;
}

.title h2{
  font-weight: bold;
}

.countries_list{
  float: right;
  padding: 50px 50px 0 100px;
}

.countries_list li{
  float: left;
  text-align: center;
  padding: 0 4px;
}

.countries_list div{
  font-size: 10px;
  color: #128aa7;
  text-decoration: underline;
}

.countries_list a{
  display: block;
}


 .images {
 	height: 237px;
 	border-bottom: 2px solid #138aa7;
 }

 .clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

.menu {
  border-bottom: 1px solid #000;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,303030+100 */
  background: rgb(55,55,55); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  font-size: 0;
}


.menu li {
  position: relative;
  float: left;
  list-style: none;
}

.menu li a{
  position: relative;
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.menu ul+a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  height: 6px;
  width: 5px;
  background: url(../img/triangle.png) 0 0 no-repeat;
}

.menu ul {
  
  position: absolute;
  left: 23px;

  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}

.menu li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.menu ul li {
  background: #303030;
}
.menu ul a {
  padding: 0 10px;
}
  
.sidebar_left {
  float: left;
  width: 210px;
  height: 550px;
  border-right: 1px solid #c7cacf;
  background: #edeef0;
  padding-top: 10px;
  overflow: hidden;
}

.sidebar_right {
  float: right;
  width: 210px;
  height: 550px;
  border-left: 1px solid #c7cacf;
  background: #edeef0;
  padding-top: 10px;
  overflow: hidden;
}

.sidebar_left, .sidebar_right p {
   line-height: 23px;
   text-align: center;
}

 h1 {
  font-weight: bold;
  text-align: center;
 
}
.content {
  margin:0px 210px 0px 210px;
  height: 560px;
  overflow: hidden;
}


.h_footer {
  clear: both;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 30px;
}
